@charset "UTF-8";

html {
  background-color: black;
}

table {
  border: 1px solid black;
  padding-left: 70px;
  padding-right: 70px;
  margin: auto;
}
tr:hover {
  background-color: gold;
}
th, td {
  border-bottom: 1px solid beige;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;

}
